@font-face {
  font-family: "destroy";
  src: url(../fonts/destroyx.ttf) format("truetype");
}

/*
 font-base: 62.5%; 
 font-h1: 6rem; 
 font-h2: 3rem; 
 font-h3: 4rem;
 font-xxl: 2.4rem; 
 font-xl: 1.8rem; 
 font-l: 1.6rem; 
 font-m: 1.4rem; 
 font-s: 1.1rem; 
 font-xs: 0.9rem; 
 */

:root {
  --main: #c11717;
  --main-variant: #a81414;
  --secondary: #0d0133;
  --secondary-variant: #31235e;

  --montserrat: "Montserrat", sans-serif;
  --destroy: "destroy";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--montserrat);
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 120vh;
}

h1 {
  font-family: var(--destroy);
  font-size: 10rem;
  width: auto;
  text-align: center;
  color: var(--main);
  font-weight: 400;
}

/******************************
*******************************
          HEADER
*******************************
******************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 110px;
  width: 100%;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin-bottom: 130px;

  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
}

header .header-nav {
  position: relative;
  width: auto;
  height: 100%;

  display: flex;
  align-items: center;
}

.header-nav img {
  height: 90%;
  margin-right: 3vw;
}

.header-nav nav {
  display: flex;
  align-items: center;
}

.header-nav nav .header-link {
  position: relative;
  color: var(--secondary);
  text-decoration: none;
  margin: 0 2vw;
  font-size: 1.8rem;
  font-weight: 600;
}

.header-nav nav .header-link:not(.activ):after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--main);
  transition: all ease-in 0.2s;
}

.header-nav nav .header-link.activ {
  font-weight: 700;
  color: var(--main);
}

.header-nav nav .header-link:hover:after {
  width: 100%;
}

/******* MENU DÉROULANT ******/

.header-nav nav .header-deroul {
  display: flex;
  align-items: center;
  margin: 0 30px;
  cursor: pointer;
}

.header-nav .header-deroul a {
  position: relative;
  color: var(--secondary);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 0;
  margin-right: 10px;
}

.header-deroul svg {
  height: 1.3rem;
  fill: var(--secondary);
}

/******* HEADER RECHERCHE ******/

.header-search {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
}

.header-search svg {
  height: 2.5rem;
  margin-right: 1vw;
  fill: var(--secondary);
}

.header-search input {
  overflow: hidden;
  outline: none;
  font-family: var(--montserrat);
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 10px;
  border: 2px solid var(--secondary);
  background: transparent;
}

/******************************
*******************************
          MAIN
*******************************
******************************/

main {
  margin-top: 110px;
}


/******************************
*******************************
          FOOTER
*******************************
******************************/

footer {
  margin-top: 100px;
  width: 100%;
  height: 321px;
  background-color: var(--secondary);
  color: white;
  display: flex;
  flex-direction: row;
}

div.gauche {
  width: 33%;
  height: 321px;
}

div.centre {
  width: 33%;
  height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.droite {
  width: 33%;
  height: 321px;
}

div.droite p.trouver {
  font-size: 2rem;
  margin-top: 45px;
}

div.bloc-google-maps {
  width: 390px;
  height: 186px;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
}

div.bloc-adresse {
  width: 132px;
  height: 100%;
  background-color: #2E2254;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

div.bloc-adresse p {
  font-size: 1.4rem;
  text-align: center;
}

div.bloc-adresse p:nth-child(1) {
  padding-top: 50px;
}

div.bloc-adresse p:nth-child(2) {
  padding-top: 15px;
  font-weight: lighter;
}

div.bloc-adresse p:nth-child(3) {
  font-weight: lighter;
}

div.google-maps {
  width: 258px;
  height: 186px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.google-maps iframe {
  width: 258px;
  height: 186px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.centre a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin: 21px 0px;
  transition: 0.3s all ease;
}

div.centre a:hover {
  color: var(--main);
}

div.first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

div.two {
  display: flex;
  justify-content: space-between;
  width: 190px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

div.two a img {
  opacity: 0.85;
}

div.two a img:hover {
  opacity: 1;
}

div.three {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 50px;
  font-weight: lighter;
}

footer img.logo {
  width: 94px;
  height: 99px;
}

footer p.disctroyes {
  font-size: 2.4rem;
}

@media screen and (max-width: 1200px) {
  div.bloc-google-maps {
    width: 340px;
  }
  div.google-maps {
    width: 208px;
  }
  div.google-maps iframe {
    width: 208px;
    height: 186px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}


@media screen and (max-width: 1024px) {
  footer {
    flex-wrap: wrap;
    height: 600px;
  }
  div.gauche {
    width: 50%;
  }
  div.centre {
    width: 50%;
  }
  div.droite {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.droite p.trouver {
    font-size: 2rem;
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  footer {
    height: 1000px;
  }
  div.gauche {
    width: 100%;
    height: 250px;
  }
  div.centre {
    width: 100%;
    height: 250px;
  }
  div.centre a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin: 15px 0px;
    transition: 0.3s all ease;
  }
  div.droite {
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  div.bloc-google-maps {
    width: 320px;
  }
  div.google-maps {
    width: 188px;
  }
  div.google-maps iframe {
    width: 188px;
    height: 186px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}